
.icon-basket:before { content: '\e800'; } /* '' */
.icon-person:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-support:before { content: '\e803'; } /* '' */
